body {
    font-family: helvetica,sans;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.aside {
    font-weight: 100;
    font-size: 0.9em;
    font-style: italic;
}

#flow {
    display:flex;
    height: 32px;
}

#flow a {
    margin: 0.4em;
}

.favicon {
    height: 16px;
    width: 16px;
}

.link-desc {
    opacity: 0;
}

.link-item:hover .link-desc {
    opacity: 1;
    transition: opacity .25s ease-in;
}
