<!DOCTYPE html>
<html>
    <head>
        {% include "head.liquid" %}
    </head>
    <body>
    <div>
      {{ page.content }}
    </div>


    {% include "goatcounter_scriptlet.liquid" %}
  </body>
</html>
