<!DOCTYPE html>
<html>
    <head>
        {% include "head.liquid" %}
    </head>
    <body>
    <div>
      {{ page.content }}
    </div>


    <script data-goatcounter="https://jelford.goatcounter.com/count"
        async src="/assets/goatcounter.js"></script>
  </body>
</html>
