<!DOCTYPE html>
<html>
    <head>
    {% include "head.liquid" %}
    </head>
    <body>
    <h1><a href="/blog.html">~jelford/blog:</a></h1>
    <h2>{{page.title}}</h2>
    {{ page.content }}
    </body>
</html>
