{% extends "base.html" %}
{% block head %}
    <title>{{ page.title }}</title>
{% endblock %}
{% block content %}  
    <header>
        <h1 class="breadcrumbs"><a href="/">~jelford</a> / <a href="/blog/">blog:</a></h1>
    </header>
  
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <header>
        <h1 itemprop="name">{{page.title}}</h2>
            <p class="post-meta-info">
                Published on 
                <time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date }}</time>. 
                <a href="{{ page.permalink }}">(permalink)</a>
            </p>
        </header>
        {% if page.draft %}
            <p class="draft-notice">
                🚧 Hey there! You seem to have stumbled on a draft post! You're welcome to have a look around,
                but I'm still working on it, so it's likely that things are going to be rough around the
                edges. That's okay with me if it's okay with you.
            </p>
        {% endif %}
        <main itemprop="articleBody">
        {{ page.content | safe }}
        </main>
    </article>

{% endblock content %}