{% extends "base.html" %}

{% block content %}
<div>
    <h1 class="breadcrumbs">~jelford</h1>
    <h2>contact</h2>
    <ul>
        <li><a href="mailto:james.p.elford@gmail.com">email</a></li>
    </ul>
    <h2>elsewhere</h2>
    <ul>
        <li><a href="https://github.com/jelford">github</a></li>
        <li><a href="https://uk.linkedin.com/in/jelford">linkedin</a></li>
    </ul>
    <h2>blog</h2>
    {% set blog = get_section(path="blog/_index.md") %}
    {% set most_recent_post = blog.pages | filter(attribute="draft", value=false) | first %}

    <p>Most recently, <a href="{{ most_recent_post.permalink }}">{{ most_recent_post.title }}</a>:</p>
    
    <blockquote>
     {{ most_recent_post.summary | safe }}
    </blockquote>

    <p>... the rest is <a href="{{ get_url(path="@/blog/_index.md") }}">here</a></p>

    <h2>open source</h2>
    <p>Some things I've tried to help out with:</p>
    <ul>
        <li><a href="https://github.com/rust-lang/rustup/pulls?q=is%3Apr+is%3Aclosed+author%3Ajelford">rustup</a>
            The official installer for rust-lang</li>
        <li><a href="https://github.com/netblue30/firejail/pulls?q=is%3Apr+is%3Aclosed+author%3Ajelford">firejail</a>
            Application sandboxing on linux with namespaces, seccomp, and capabilities</li>
        <li><a href="https://github.com/tjguk/networkzero/pulls?q=is%3Apr+is%3Amerged+author%3Ajelford+">networkzero</a>
            Easy networking for in Python for educational settings</li>
    </ul>
    <p>A few projects of my own...</p>
    <ul>
        <li><a href="https://github.com/jelford/activesoup">activesoup</a>
            A headless pure-python web scraping tool that mixes the convenience of <code>requests</code>
            with the querying power of <code>beautifulsoup</code>.</li>
        <li><a href="https://github.com/jelford/rumour">rumour</a>
            A re-implementation of the <code>serf</code>'s <a
                href="https://www.serf.io/docs/internals/gossip.html">gossip</a>
            protocol, written in async rust</li>
        <li><a href="https://github.com/jelford/keyn">keyn</a>
            A firefox extension for browsing the web with the power of your keyboard</li>
        <li><a href="https://github.com/jelford/keyn">fixl</a>
            Another browser extension, to help with looking up FIX specs. Don't know what FIX is? Lucky you!</li>
        <li><a href="https://github.com/jelford/squirrel">squirrel</a>
            Automatic backups and queryable history while you work</li>
        <li><a href="https://github.com/jelford/ferret">ferret</a>
            Custom shebang for simpler python scripts that need more than the standard library</li>
    </ul>
</div>
{% endblock content %}