<!DOCTYPE html>
<html>
  <head>
  {% include "head.liquid" %}
  </head>
  <style type="text/css">
  main {
    margin-top: 2em;
    border-top: 1px solid grey;
  }
  ul.post-list {
    list-style-type: "🖉";
  }
  div p {
    font-style: italic;
  }
  </style>
<body>
  <header>
    <h1 class="breadcrumbs"><a href="/index.html">~jelford</a> / blog:</h1>
    <a href="/rss.xml">feed</a>
  </header>

  <main>
    <ul class="post-list" itemscope itemtype="http://schema.org/ItemList">
    {% for post in collections.posts.pages %}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/BlogPosting">
        <a href="{{post.permalink}}">{{post.title}}</a>
        <div class="post-excerpt">{{post.excerpt}}</p>
      </li>
    {% endfor %}
    </ul>
  </main>

</body>
</html>