body {
    font-family: helvetica,sans;
    margin-left: 1em;
}

h1 a {
    color: black;
}

.aside {
    font-weight: 100;
    font-size: 0.9em;
    font-style: italic;
}

#flow {
    display:flex;
    height: 32px;
}

#flow a {
    margin: 0.4em;
}

.favicon {
    height: 16px;
    width: 16px;
}

.link-desc {
    display: none;
}

.link-item:hover .link-desc {
    display: inline;
}

.separator {
    width: 100%;
    border: 1px solid gray;
    height: 0px;
}
